.movies {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    justify-content: start;
    column-gap: 13px;
    margin: 30px 14px;
    border-bottom: 1px #424242 solid;
    padding-bottom: 62px;
}

.checkbox__input {
    background-image: url(../../images/tumbler-off.svg);
    width: 36px;
    height: 20px;
    cursor: pointer;
    background-color: #202020;
    border: none;
    transition: 0.5s ease all;
    appearance: none;
}

.checkbox__input:checked {
    background-image: url(../../images/tumbler-on.svg);
}

.checkbox__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

@media screen and (min-width: 720px) {
    .movies {
        max-width: 768px;
    }

    .checkbox {
        margin: 30px 30px;
        padding-bottom: 48px;
    }

    .checkbox__text {
        font-size: 13px;
    }
}

@media screen and (min-width: 1220px) {
    .movies {
        max-width: 1280px;
    }

    .checkbox {
        margin: 30px 70px;
        padding-bottom: 40px;
    }
}
