.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-block__title {
    margin: 70px 0 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.form-profile-block {
    display: flex;
    flex-direction: column;
    min-width: 260px;
}

.form-profile-block__container {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 16px;
    border-bottom: 1px #424242 solid;
}

.form-profile-block__container:last-child {
    border: none;
}

.form-profile-block__label {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.form-profile-block__input {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    background-color: #202020;
    border: none;
    text-align: end;
}

.form-profile-block__input:focus {
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #4285F4 solid; 
}

.profile-block__button-edit {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background-color: #202020;
    color: #fff;
    border: none;
    padding-top: 364px;
    cursor: pointer;
}

.profile-block__link {
    color: #ee3465;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    padding-top: 16px;

}


@media screen and (min-width: 590px) {

    .profile-block__title {
        margin: 233px 0 77px;
    }

    .form-profile-block {
        min-width: 410px;
    }

    .profile-block__button-edit {
        font-size: 13px;
        line-height: 16px;
        padding-top: 197px;
    }

    .profile-block__link {
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (min-width: 990px) {

    .profile-block__title {
        margin: 74px 0 103px;
    }

    .form-profile-block {
        min-width: 410px;
    }

    .profile-block__button-edit {
        padding-top: 204px;
    }
}