.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 14px;
}

.portfolio__header {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 20px;
    color: #a0a0a0;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.portfolio__conteiner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px #e6e6e6 solid;
}

.portfolio__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.portfolio__arrow {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    .portfolio {
        padding: 90px 48px;
    }

    .portfolio__header {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 35px;
    }

    .portfolio__conteiner {
        padding: 14px 0;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__arrow {
        font-size: 28px;
        line-height: 60px;
    }
}

@media screen and (min-width: 990px) {
    .portfolio {
        padding: 102px 68px;
    }
}
