.movie-card {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  background-color: #222;
}

.movie-card__screen {
  grid-area: 3 / 1 / 5 / 3;
  object-fit: cover;
  width: 100%;
  height: 168px;
}

.movie-card__screen:hover {
  cursor: pointer;
}

.movie-card__title {
  /*display: -webkit-box;*/
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  padding: 14px 14px 10px;
  /*-webkit-box-orient: vertical;*/
  /*-webkit-line-clamp: 2;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-card__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  padding-left: 14px;
  padding-bottom: 14px;
}

.movie-card__save {
  width: 30px;
  height: 30px;
  background-image: url(../../../images/card-save.svg);
  border: none;
  background-color: #222;
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
  padding: 0;
  cursor: pointer;
}

.movie-card__save_active {
  background-image: url(../../../images/card-save-act.svg);
}

.movie-card__save_delete {
  width: 30px;
  height: 30px;
  background-image: url(../../../images/card-save-del.svg);
  border: none;
  background-color: #222;
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .movie-card__screen {
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__screen {
    height: 203px;
  }
}

