.login {
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 56px;
  align-items: center;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  padding-top: 50px;
}

.form-sign {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  border: none;
  margin: 0;
  min-width: 260px;
}

.form-sign__input-container {
  display: flex;
  flex-direction: column;
}

.form-sign__input-name {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8b8b8b;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer;
}

.form-sign__input-name:has(+ .form-sign__input:focus) {
  color: #fff;
}

.form-sign__input {
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px #424242 solid;
  background-color: #202020;
  color: #fff;
}

.form-sign__input:focus {
  border-bottom: 1px #4285F4 solid;
}

.form-sign__input-error {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #ee3465;
  margin: 0;
  padding: 5px 0;
  min-height: 12px;
}

.login__button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  background-color: #4285f4;
  color: #fff;
  min-width: 260px;
  min-height: 45px;
  margin-top: 283px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.login__button_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
  cursor: not-allowed;
}

.login__quest {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #8b8b8b;
  padding-top: 14px;
  margin: 0;
}

.login__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .login__container {
    padding-top: 232px;
    align-items: start;
    margin: 0 auto;
    max-width: 396px;
  }

  .login__title {
    padding-top: 41px;
  }

  .form-sign {
    min-width: 396px;
    padding-top: 34px;
  }

  .login__button {
    font-size: 14px;
    line-height: 17px;
    min-width: 396px;
    margin-top: 198px;
  }

  .login__quest {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
  }

  .login__link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 990px) {
  .login__container {
    padding-top: 70px;
  }
}
